body {
  margin: 0;
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #D3D3D3;
  font-family: "Arvo", cursive;
  font-weight: 900;
  text-shadow: 3px 0 #404B69;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  border-radius: 50%;
  font-size: 4rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #F3C07B;
  text-shadow: 3px 0 #DBEDF3;
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.a {
  background-image: url("assets/images/crash-cropped.png");
}

.w {
  background-image: url("assets/images/tom1.png");
}

.d {
  background-image: url("assets/images/tom2.png");
}

.l {
  background-image: url("assets/images/ride.png");
}

.s {
  background-image: url("assets/images/snare.png");
}

.j {
  background-image: url("assets/images/bass.png");
}

.k {
  background-image: url("assets/images/tom3.png");
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

/* jQuery */
.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}